/* .move-me {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border: 1px solid black;
  }

  .rotate-me, .scale-me {
    width: 100px;
    height: 100px;
    margin: 50px;
    background-color: lightblue;
    border: 1px solid black;
  }

  .hover-me {
    width: 100px;
    height: 100px;
    background: red;
  }
  
  .hover-me:hover {
    width: 300px;
  } */

 /*  @keyframes szinvaltas {
    0% {
      background-color: red;
    }
    33% {
      background-color: green;
    }
    66% {
      background-color: blue;
    }
    100% {
      background-color: red;
    }
  } */

  @keyframes mozgas_es_atmeretezes {
    0% {
      transform: translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(900px) scale(2);
      opacity: 0.5;
    }
  }

  .btn {
    width: 150px;
    height: 70px;
    background: red;
    margin: 50px;
  }

  .button {
    animation: mozgas_es_atmeretezes 4s linear infinite alternate;
    /* transition: background-color 0.5s ease; */
    /* animation: szinvaltas 6s linear infinite; */
  }

  .button-ease {
    animation: mozgas_es_atmeretezes 4s ease infinite alternate;
    background: green;
  }

  .button-ease-in {
    animation: mozgas_es_atmeretezes 4s ease-in infinite alternate;
    background: blue;
  }

  .button-ease-out {
    animation: mozgas_es_atmeretezes 4s ease-out infinite alternate;
    background: yellow;
  }

  .button-ease-in-out {
    animation: mozgas_es_atmeretezes 4s ease-in-out infinite alternate;
    background: orange;
  }

  .button-cubic-bezier {
    animation: mozgas_es_atmeretezes 4s cubic-bezier(.04,1.84,.67,-0.95) infinite alternate;
    background: purple;
  }

/*   .button:hover {
    background: blue;
  } */