@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?70408x');
  src:  url('fonts/icomoon.eot?70408x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?70408x') format('truetype'),
    url('fonts/icomoon.woff?70408x') format('woff'),
    url('fonts/icomoon.svg?70408x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.pm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pm-ar-com:before {
  content: "\e900";
}
.pm-digital3-com:before {
  content: "\e901";
}
.pm-cpu-com:before {
  content: "\e902";
}
.pm-arpupandown-com:before {
  content: "\e903";
}
